* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

body {
  background: #ffc845;
}

header {
  background: #30a14e;
  display: flex;
  color: white;
  padding: 2rem 0.2rem;
  justify-content: space-between;
}

header h1 {
  font-size: 1rem;
  justify-content: flex-start;
  border: 2px solid red;
}

header ul {
  display: flex;
  border: 2px solid blue;
}

header ul li {
  margin: 0 0.2rem;
}

main .section-1 {
  display: flex;
  padding: 1rem 0.2rem;
  background: rgb(109, 180, 109);
  color: white;
  justify-content: space-between;
}

main .section-1 button {
  color: rgb(39, 38, 38);
  background-color: white;
  font-size: 16px;

  height: 2rem;
  width: 2rem;
  border-radius: 100%;
}

section.section-2 {
  background: #ffc845;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2.2rem;
}

section.section-3 div {
  text-align: right;
  padding: 0.2rem 2.2rem;

  border-top: 1px solid black;
  background: #ffc845;
}
